
.wrapper {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 98%;
  max-width: 1300px;
  background-color: #2c2c2c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.5);
  flex-wrap: wrap; /* برای ریسپانسیو */
}

.image {
  width: 96px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.text {
  flex: 1;
  color: #fff ;
  margin-right: 50px;
}

.text h2 {
    font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.text p {
  color: #bbb;
  font-size: 15px;
  margin-top: 8px;
}

.button {
  background-color: #d5b882;
  color: #111;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 16px;
}

.button:hover {
  background-color: #c4a56e;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image {
    margin-bottom: 16px;
  }

  .button {
    margin-left: 0;
    margin-top: 12px;
  }
}
